## Question 1

### Logistic Regression for multiclass classification

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('Iris.csv', header=0)
dataset.sample(n=5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
117,118,7.7,3.8,6.7,2.2,Iris-virginica
2,3,4.7,3.2,1.3,0.2,Iris-setosa
58,59,6.6,2.9,4.6,1.3,Iris-versicolor
94,95,5.6,2.7,4.2,1.3,Iris-versicolor
11,12,4.8,3.4,1.6,0.2,Iris-setosa

In [3]:
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]
x = np.hstack((np.ones((x.shape[0], 1)), x)) #[1 x]
print(x.shape)

(150, 6)

In [4]:
#since multiclass regression has different outcomes and we need to identify unique sets of target output in given dataset
y_class = y.unique()
# y_class = np.insert(y_class, 0, 10)
y_class

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
#in the given dataset, replace the Species column with the numerical value that referes to the value when decoded
Y = np.zeros((y.shape[0], len(y_class)))
print(Y.shape)
for i in range(len(Y)):
    for j in range(len(y_class)):
        if y_class[j] == y[i]:
            Y[i][j] = 1

(150, 3)

In [6]:
train_x, test_x, train_y, test_y = train_test_split(x, Y, train_size=0.8, shuffle=True)

In [7]:
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(120, 6)
(30, 6)
(120, 3)
(30, 3)

In [8]:
theta = np.zeros((x.shape[1], len(y_class)))
theta.shape

(6, 3)

In [9]:
def sigmoid(x, theta):
    return 1/(1+np.exp(-np.dot(x, theta)))

In [11]:
def multiclass_logistic_regression(x, y, theta, alpha, iterations):
    m = x.shape[0]
    for _ in range(iterations):
        prec_y = sigmoid(x, theta)
        theta = theta - (alpha/m)*np.dot(x.T, prec_y -y)
    return theta

In [13]:
theta = multiclass_logistic_regression(train_x, train_y, theta, 0.002, 50000)

In [15]:
prediction = sigmoid(test_x, theta)
np.round(prediction)

array([[1., 0., 0.],
       [0., 0., 0.],
       [0., 1., 0.],
       [0., 1., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.],
       [0., 1., 0.],
       [0., 1., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 1.],
       [0., 1., 1.],
       [0., 1., 1.],
       [0., 1., 0.],
       [0., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 0.]])

In [17]:
np.round(prediction) == test_y

array([[ True,  True,  True],
       [ True, False,  True],
       [ True,  True,  True],
       [ True, False,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True, False,  True],
       [ True,  True,  True],
       [ True, False,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True, False,  True],
       [ True, False,  True],
       [ True, False,  True],
       [ True,  True,  True],
       [ True, False,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True, False,  True]])

In [18]:
test_y

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])